Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  hicpp-*,
  cppcoreguidelines-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
